// $default-font: "Lato-Regular", Arial, sans-serif;
// $second-font: "Gilroy-Light", Arial, sans-serif;
// $main-title-font: "Gilroy-ExtraBold", Arial, sans-serif;
// $title-font: "Lato-Black", Arial, sans-serif;
// $second-title-font: "Lato-Medium", Arial, sans-serif;
// $latosb: "Lato-Semibold", Arial, sans-serif;
// $latol: "Lato-Light", Arial, sans-serif;
// $latoh: "Lato-Heavy", Arial, sans-serif;


$accent: #e6c454;
$main-color: #e5dbf2;;
$black: #000000;
$white: #ffffff;


//
