
.accordeon {
    width: 59%;
    font-weight: 200;
    margin: 0 auto;
}
.accordeon-title {
  font-size: 16px;
  font-weight: 200;
  line-height: 20px;
  letter-spacing: 1.38px;
  cursor: pointer;
  border: 2px solid $accent;
  border-image: linear-gradient(75deg, #765b14 0%, #edcc5b 25%, #977619 50%, #edcc5b 75%, #765b14 100%);
  border-image-slice: 1;
  margin: 0;
  margin-bottom: 18px;
  padding: 12px;
}

.accordeon-title:after {
  content: '\003C';
  float: right;
  padding-bottom: 2px;
  font-size: 1.2em;
  color: #f2f2f2;
  background-image: linear-gradient(75deg, #765b14 0%, #edcc5b 25%, #977619 50%, #edcc5b 75%, #765b14 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: $accent;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  transform: rotate(-90deg);
  transition: 0.3s;
}

.accordeon-title.is-opened:after {
  transform: rotate(90deg);
}

.accordeon-content {
  display: none;
  padding: 12px;
  border-left: 2px solid $accent;
  border-right: 2px solid $accent;
  border-bottom: 2px solid $accent;
  border-image: linear-gradient(75deg, #765b14 0%, #edcc5b 25%, #977619 50%, #edcc5b 75%, #765b14 100%);
  border-image-slice: 1;
  margin-top: -18px;
  margin-bottom: 18px;
} 

.answers {
      background-image: url("../img/answers-bg.png");
      // background-size: 68%;
      // background-repeat-x: no-repeat;
      background-position-x: center;
      background-position-y: top;

    &__top {
        margin-top: 18px;
    }
    .main-title {
      margin-bottom: 47px;
    }
    .wrap {
      padding-bottom: 35px;
      
    }
}
.text__top {
    margin-top: 18px;
}