.catalog {
    &__items {
        display: flex;
    }
    &__item {
        position: relative;
        width: 25%;
        img {
            width: 100%;
        }
    }
    &__title {
        position: absolute;
        top: 33px;
        left: 0;
        width: 80%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, 0);
        font-size: 40px;
        text-align: center;
        color: rgba(0, 0, 0, 0.5);
        background-image: linear-gradient(75deg, #765b14 0%, #edcc5b 25%, #977619 50%, #edcc5b 75%, #765b14 100%);

    }
    .main-title {
        margin-bottom: 52px;
    }
}