.footer {

    background-color: #0c0012;
    color: #e5dbf2;
    .wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px 131px;
    }
    a {
        color: #e5dbf2;
    }
    &__block {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 43px;
        letter-spacing: 1.38px;
    }
    &__about {
        position: relative;
        height: 100%;
        &:after {
            content: "";
            position: absolute;
            top: 50%;
            // left: 50%;
            // margin-right: -50%;
            transform: translate(0, -50%);
            width: 100%;
            height: 100%;
            width: 168px;
            height: 47px;
            background: url("../img/arrow1.png");
            background-size: contain;
            background-repeat: no-repeat;
        }
    }

}

// .social {
//     display: flex;
//     &__item {
//         display: block;
//         padding: 10px;
//         &:hover svg {
//             fill: #fdac5c;
//         }
//     }
//     svg {
//         fill: #000;
//     }

// }