.how {
    // background-image: url("../img/how-bg.png");
    // background-size: 100%;
    // background-size: contain;
    // background-position-x: center;
    // background-position-y: top;
    padding-bottom: 52px;
    &__items {
        display: flex;
        flex-wrap: wrap;
        padding: 0 101px 0 160px;
    }
    &__item {
        position: relative;
        width: 50%;
        padding-left: 65px;
        margin-bottom: 48px;
    }
    &__pic {
        width: 61px;
        &--avto {
            width: 80px;
        }
    }
    &__text {
        font-size: 16px;
        font-weight: 300;
        line-height: 20px;
        letter-spacing: 1.38px;
        padding-top: 8px;
    }
    .btn {
        margin: 0 auto;
        display: block;
    }

}