include ../common/_var
include ../common/_mixin

doctypehtml
html(lang='ru')
	include ../common/head
	body
		include ../common/popup

		.header__wrap
			img.header__img(src="img/header-bg.jpg", alt="skaterty")
			include ../common/header
			include ../common/home
		include ../common/advantages
		include ../common/reviews
		include ../common/catalog
		include ../common/video
		include ../common/how
		include ../common/answers
		include ../common/about

		include ../common/footer
	// END body