section.advantages
    .wrap 
        h2.main-title 
            span Приемущества
        .advantages__items
            .advantages__item
                .advantages__pic.gradient
                    .advantages__pic--wrap.gradient2
                        img(src="img/advantages/pic1.png", alt="advantages")
                .advantages__descr
                    .advantages__title.subtitle Силиконовая скатерть — это надёжная защита для стола.
                    .advantages__text Силикон достаточно плотный материл(400 микрон), поэтому он защищает стол от внешних воздействий и повреждений.
            .advantages__item
                .advantages__pic.gradient
                    .advantages__pic--wrap.gradient2
                        img(src="img/advantages/pic2.png", alt="advantages")
                .advantages__descr
                    .advantages__title.subtitle Силикон — прозрачный материал.
                    .advantages__text В отличие от тканей, которые закрывают поверхность стола, силикон наоборот, делает акцент именно на столике. Он подчёркивает красоту столешницы.
            .advantages__item
                .advantages__pic.gradient
                    .advantages__pic--wrap.gradient2
                        img(src="img/advantages/pic3.png", alt="advantages")
                .advantages__descr
                    .advantages__title.subtitle Она экономит время!
                    .advantages__text За счёт материала скатерть не нужно гладить или стирать. Достаточно протереть влажной салфеткой и вуаля, она станет чистой. Конечно, за ней нужен уход, но он намного проще и быстрее, чем за другими материалами. 
            .advantages__item
                .advantages__pic.gradient
                    .advantages__pic--wrap.gradient2
                        img(src="img/advantages/pic4.png", alt="advantages")
                .advantages__descr
                    .advantages__title.subtitle С такой скатертью вы сделаете интерьер неповторимым.
                    .advantages__text Силиконовые скатерти только появляются в моде, их редко можно где-то встретить. Поэтому силиконовая скатерть выделит столик и ваш интерьер в целом. 
            .advantages__item
                .advantages__pic.gradient
                    .advantages__pic--wrap.gradient2
                        img(src="img/advantages/pic5.png", alt="advantages")
                .advantages__descr
                    .advantages__title.subtitle Наше качество не имеет подобных аналогов на рынке.
                    .advantages__text Мы заказываем фурнитуру из Турции, за счёт чего она намного прочнее и эффектнее внешне! И каждая скатерть шьётся профессионалами с опытом более 10 лет.