section.answers
    .wrap 
        h2.main-title 
            span Ответы на частозадаваемые вопросы
        .answers__tabs
        .accordeon
            h3.accordeon-title Как ухаживать за силиконовой скатертью?
            .accordeon-content
                ul 
                    li Чтобы разгладить заломы, расстелите клеёнку и возьмите фен
                    li - Затем установите средний режим (тёплый воздух)
                    li - Направьте на заломы поток тёплого воздуха на расстоянии 25-30 см от поверхности материала.
                p Складки исчезнут на глазах. 
                p.answers__top Важно: 
                p Нельзя приближать фен близко к скатерти или увеличивать температуру, потому что это может испортить её поверхность. 
            h3.accordeon-title Какая стоимость скатертй?
            .accordeon-content
                p Она всегда различна и зависит от размеров стола, поэтому каждый ваш заказ индивидуален.
                p.answers__top Для уточнёния стоимости оставляйте заявку или звоните по контактному телефону, мы обязательно вам всё подсчитаем и скажем.
                p.answers__top У нас действует 100% предоплата.
            h3.accordeon-title Сколько вы будете ждать заказ?
            .accordeon-content
                p Скатерть изготавливается в течение 3-4 дней всё зависит от сложности работы и дизайна, который вы выберете. 
                p.answers__top Доставка 1-10 дней, в зависимости от того, где именно вы живёте.
            h3.accordeon-title Какая у нас доставка?
            .accordeon-content
                p Она действует по всей РФ и за границей.
                p Мы сотрудничаем с транспортной компанией СДЭК, поэтому можем отправить скатерть в любой уголок России!
                p.answers__top Но мы можем доставить заказ любым другим удобным для вас способом.
                p Доставка по центральной России от 2 до 5 дней.
            h3.accordeon-title Как делается скатерть и как она выглядит с обратной стороны?
            .accordeon-content
                p Для закрепления фурнитуры мы используем лески. 
                p Потому что они крепче и тоньше, чем обычные нитки.
                p.answers__top Более того, плюс лески в том, что она может приминать абсолютно любой цвет, она прозрачная, как и силикон.
                p И за счёт этого сливается со всей фурнитурой!
                p.answers__top А поэтому с обратной стороны у скатерти эстетичный внешний вид, не видно никаких швов, только обратная сторона ленты или страз.
            h3.accordeon-title Какой дизайн скатерти мы можем сделать?
            .accordeon-content
                p Тут всё зависит от ваших желаний и предпочтений, кто-то хочет сделать всю скатерть с одной фурнитурой, например с лентой. 
                p.answers__top А кто-то хочет индивидуальный дизайн. 
                p Например, можно совместить несколько материалов вместе, бахрому и стеклярус, или ленту и стеклярус.
                p Или сделать всё из одной фурнитуры, но чтобы она была разных цветов. 
                p Один ряд лент — серебряный, а другой — золотой. 
                p.answers__top Так можно придумывать любой дизайн, мы с радостью воплотим ваши пожелания в жизнь.
            h3.accordeon-title Каких форм бывают скатерти?
            .accordeon-content
                p Мы можем сделать скатерть круглой, овальной, квадратной или прямоугольной формы.
                p.answers__top Тут нужно отталкиваться от формы вашего стола. 
                p Чаще всего форму скатерти выбирают той же геометрии, что и форма стола.