section.catalog#catalog
    .wrap 
        h2.main-title 
            span Каталог
        .catalog__items
            .catalog__item
                img(src="img/catalog/prod1.png", alt="catalog")
                .catalog__title Силиконовые скатерти
            .catalog__item
                img(src="img/catalog/prod2.png", alt="catalog")
                .catalog__title Скатерти из экокожи
            .catalog__item
                img(src="img/catalog/prod3.png", alt="catalog")
                .catalog__title Декор для интерьера
            .catalog__item
                img(src="img/catalog/prod4.png", alt="catalog")
                .catalog__title Изделия для кухни