section.catalog#catalog
    .wrap 
        h2.main-title 
            span Каталог
        .catalog__items
            .catalog__item.catalog-form1
                img(src="img/catalog/prod1.png", alt="catalog")
                .catalog__title.line-anim Силиконовые скатерти
            .catalog__item.catalog-form2
                img(src="img/catalog/prod2.png", alt="catalog")
                .catalog__title.line-anim Скатерти из экокожи
            .catalog__item.catalog-form3
                img(src="img/catalog/prod3.png", alt="catalog")
                .catalog__title.line-anim Декор для интерьера
            .catalog__item.catalog-form4
                img(src="img/catalog/prod4.png", alt="catalog")
                .catalog__title.line-anim Изделия для кухни