footer.footer
    .wrap
        .footer__block 
            p Интернет-магазин «Royal Skaterty»
        .footer__block
            .footer__about Мы есть в Instagram
            .footer__social 
                .social
                    a(href="tel:+79185322614") 
                        span +7 918 532-26-14
                        .img__icon
                            img(src="img/watsapp.png", alt="phone")
                .social
                    a(href="#") 
                        span royal_skaterty
                        .img__icon
                            img(src="img/instagram.png", alt="instagram")
script(src="js/scripts.min.js")
script(src="js/common.js")