header.header
	.header-overlay
		.wrap 
			.logo
				img(src="img/logo.png", alt="logo")
			.header__nav
				.social
					a(href="tel:+79185322614") 
						span +7 918 532-26-14
						.img__icon
							img(src="img/watsapp.png", alt="phone")
				.social
					a(href="#") 
						span royal_skaterty
						.img__icon
							img(src="img/instagram.png", alt="instagram")
				nav
					ul.menu__items
						li
							a(href="#advantages") О нас
						li
							a(href="#catalog") Каталог
						li
							a(href="#reviews") Отзывы
						li
							a(href="#answers") Вопросы
						li
							a(href="#about") Контакты