header.header
	.header-overlay
		.wrap 
			.logo
				img(src="img/logo.png", alt="logo")
			.header__nav
				.social
					a(href="mailto:+79185322614") 
						span +7 918 532-26-14
						.img__icon
							img(src="img/watsapp.png", alt="phone")
				.social
					a(href="#") 
						span royal_skaterty
						.img__icon
							img(src="img/instagram.png", alt="instagram")
				nav
					ul.menu__items
						li
							a(href="#") О нас
						li
							a(href="#") Каталог
						li
							a(href="#") Отзывы
						li
							a(href="#") Вопросы
						li
							a(href="#") Контакты