section.home
    .wrap 
        h1 Силиконовые скатерти - красота и надёжная защита для вашего стола
        .btn Украсить стол
            svg.btn-gradient
                use(xlink:href='img/btn-gradient.svg#btn-gradient') 
