section.how
    .wrap 
        h2.main-title 
            span Как сделать заказ
        .how__items
            .how__item
                .how__pic
                    img(src="img/how/how1.png", alt="Для начала нажмите на кнопку.")
                .how__title.subtitle Для начала нажмите на кнопку.
                .how__text Это нужно, чтобы сделать заказ или получить консультацию. Затем укажите своё имя, номер телефона и размер стола при разговоре с Аней.
            .how__item
                .how__pic
                    img(src="img/how/how2.png", alt="Для начала нажмите на кнопку.")
                .how__title.subtitle В течение 15 минут с вами свяжется менеджер.
                .how__text Он ответит на любые вопросы и поможет определиться с дизайном и отвесами.
            .how__item
                .how__pic
                    img(src="img/how/how3.png", alt="Для начала нажмите на кнопку.")
                .how__title.subtitle Отправьте фото стола и интерьера менеджеру.
                .how__text Это поможет наиболее точно выбрать оформление. В течение 15 минут вам идеально подберут дизайн.
            .how__item
                .how__pic.how__pic--avto
                    img(src="img/how/how4.png", alt="Для начала нажмите на кнопку.")
                .how__title.subtitle Скатерть изготавливается 3-4 дня.
                .how__text Затем отправляется любым удобным для вас способом. По центральной России доставка 2-5 дней.
        .btn.all-form Оформить заказ
            svg.btn-gradient
                use(xlink:href='img/btn-gradient.svg#btn-gradient') 