.popup-bg
.globalform.allform.wrap
    .popup-close.cross
        span.cross-line.cross--topper
        span.cross-line.cross--bottom
    .wrap.scroll
        .popup__img
            img(src="img/about.png", alt="about")
        .popup__title Оставьте заявку и Аня перезвонит вам через 15 минут 
        .popup__form
            form
                //-  Hidden Required Fields 
                input(type="hidden" name="project_name" value="Site Royal skaterty")
                input(type="hidden" name="admin_email" value="royal-skaterty@yandex.ru")
                input(type="hidden" name="form_subject" value="Form Royal skaterty - перезвонить")
                //-  END Hidden Required Fields 
                .form-line
                    input(type="text" name="name" id="name2" placeholder="имя*" required)
                .form-line
                    input(class="phone" type="tel" name="tel" id="tel2" placeholder="телефон*" required)
                .form-line
                    input(type="email" name="email" id="email2" placeholder="email")
                .form-line
                    button.btn Отправить заявку
                        svg.btn-gradient
                            use(xlink:href='img/btn-gradient.svg#btn-gradient') 
.globalform.catalogform1.wrap
    .popup-close.cross
        span.cross-line.cross--topper
        span.cross-line.cross--bottom
    .wrap.scroll
        .popup__img
            img(src="img/about.png", alt="about")
        .popup__title Оставьте заявку и Аня проконсультирует вас по выбранному разделу 
        .popup__form
            form
                //-  Hidden Required Fields 
                input(type="hidden" name="project_name" value="Site Royal skaterty")
                input(type="hidden" name="admin_email" value="royal-skaterty@yandex.ru")
                input(type="hidden" name="form_subject" value="Form Royal skaterty - проконсультировать по силиконовым скатертям")
                //-  END Hidden Required Fields 
                .form-line
                    input(type="text" name="name" id="name3" placeholder="имя*" required)
                .form-line
                    input(class="phone" type="tel" name="tel" id="tel3" placeholder="телефон*" required)
                .form-line
                    input(type="email" name="email" id="email3" placeholder="email")
                .form-line
                    button.btn Отправить заявку
                        svg.btn-gradient
                            use(xlink:href='img/btn-gradient.svg#btn-gradient') 
.globalform.catalogform2.wrap
    .popup-close.cross
        span.cross-line.cross--topper
        span.cross-line.cross--bottom
    .wrap.scroll
        .popup__img
            img(src="img/about.png", alt="about")
        .popup__title Оставьте заявку и Аня проконсультирует вас по выбранному разделу 
        .popup__form
            form
                //-  Hidden Required Fields 
                input(type="hidden" name="project_name" value="Site Royal skaterty")
                input(type="hidden" name="admin_email" value="royal-skaterty@yandex.ru")
                input(type="hidden" name="form_subject" value="Form Royal skaterty - проконсультировать по скатертям из экокожи")
                //-  END Hidden Required Fields 
                .form-line
                    input(type="text" name="name" id="name4" placeholder="имя*" required)
                .form-line
                    input(class="phone" type="tel" name="tel" id="tel4" placeholder="телефон*" required)
                .form-line
                    input(type="email" name="email" id="email4" placeholder="email")
                .form-line
                    button.btn Отправить заявку
                        svg.btn-gradient
                            use(xlink:href='img/btn-gradient.svg#btn-gradient')
.globalform.catalogform3.wrap
    .popup-close.cross
        span.cross-line.cross--topper
        span.cross-line.cross--bottom
    .wrap.scroll
        .popup__img
            img(src="img/about.png", alt="about")
        .popup__title Оставьте заявку и Аня проконсультирует вас по выбранному разделу 
        .popup__form
            form
                //-  Hidden Required Fields 
                input(type="hidden" name="project_name" value="Site Royal skaterty")
                input(type="hidden" name="admin_email" value="royal-skaterty@yandex.ru")
                input(type="hidden" name="form_subject" value="Form Royal skaterty - проконсультировать по декору для интерьера")
                //-  END Hidden Required Fields 
                .form-line
                    input(type="text" name="name" id="name5" placeholder="имя*" required)
                .form-line
                    input(class="phone" type="tel" name="tel" id="tel5" placeholder="телефон*" required)
                .form-line
                    input(type="email" name="email" id="email5" placeholder="email")
                .form-line
                    button.btn Отправить заявку
                        svg.btn-gradient
                            use(xlink:href='img/btn-gradient.svg#btn-gradient') 
.globalform.catalogform4.wrap
    .popup-close.cross
        span.cross-line.cross--topper
        span.cross-line.cross--bottom
    .wrap.scroll
        .popup__img
            img(src="img/about.png", alt="about")
        .popup__title Оставьте заявку и Аня проконсультирует вас по выбранному разделу 
        .popup__form
            form
                //-  Hidden Required Fields 
                input(type="hidden" name="project_name" value="Site Royal skaterty")
                input(type="hidden" name="admin_email" value="royal-skaterty@yandex.ru")
                input(type="hidden" name="form_subject" value="Form Royal skaterty - проконсультировать по изделиям для кухни")
                //-  END Hidden Required Fields 
                .form-line
                    input(type="text" name="name" id="name6" placeholder="имя*" required)
                .form-line
                    input(class="phone" type="tel" name="tel" id="tel6" placeholder="телефон*" required)
                .form-line
                    input(type="email" name="email" id="email6" placeholder="email")
                .form-line
                    button.btn Отправить заявку
                        svg.btn-gradient
                            use(xlink:href='img/btn-gradient.svg#btn-gradient') 