.popup-bg
.globalform.allform.wrap
    .popup-close.cross
        span.cross-line.cross--topper
        span.cross-line.cross--bottom
    .wrap.scroll
        .popup__img
            img(src="img/about.png", alt="about")
        .popup__title Оставьте заявку и Аня перезвонит вам через 15 минут 
        .popup__form
            form(action="#")
                .form-line
                    input(type="text" name="name" id="name" placeholder="имя*" required)
                .form-line
                    input(class="phone" type="tel" name="tel" id="tel" placeholder="телефон*" required)
                .form-line
                    input(type="email" name="email" id="email" placeholder="email")
                .form-line
                    button.btn Отправить заявку
                        svg.btn-gradient
                            use(xlink:href='img/btn-gradient.svg#btn-gradient') 
.globalform.catalogform1.wrap
    .popup-close.cross
        span.cross-line.cross--topper
        span.cross-line.cross--bottom
    .wrap.scroll
        .popup__img
            img(src="img/about.png", alt="about")
        .popup__title Оставьте заявку и Аня проконсультирует вас по выбранному разделу 
        .popup__form
            form(action="#")
                .form-line
                    input(type="text" name="name" id="name" placeholder="имя*" required)
                .form-line
                    input(class="phone" type="tel" name="tel" id="tel" placeholder="телефон*" required)
                .form-line
                    input(type="email" name="email" id="email" placeholder="email")
                .form-line
                    button.btn Отправить заявку
                        svg.btn-gradient
                            use(xlink:href='img/btn-gradient.svg#btn-gradient') 
.globalform.catalogform2.wrap
    .popup-close.cross
        span.cross-line.cross--topper
        span.cross-line.cross--bottom
    .wrap.scroll
        .popup__img
            img(src="img/about.png", alt="about")
        .popup__title Оставьте заявку и Аня проконсультирует вас по выбранному разделу 
        .popup__form
            form(action="#")
                .form-line
                    input(type="text" name="name" id="name" placeholder="имя*" required)
                .form-line
                    input(class="phone" type="tel" name="tel" id="tel" placeholder="телефон*" required)
                .form-line
                    input(type="email" name="email" id="email" placeholder="email")
                .form-line
                    button.btn Отправить заявку
                        svg.btn-gradient
                            use(xlink:href='img/btn-gradient.svg#btn-gradient')
.globalform.catalogform3.wrap
    .popup-close.cross
        span.cross-line.cross--topper
        span.cross-line.cross--bottom
    .wrap.scroll
        .popup__img
            img(src="img/about.png", alt="about")
        .popup__title Оставьте заявку и Аня проконсультирует вас по выбранному разделу 
        .popup__form
            form(action="#")
                .form-line
                    input(type="text" name="name" id="name" placeholder="имя*" required)
                .form-line
                    input(class="phone" type="tel" name="tel" id="tel" placeholder="телефон*" required)
                .form-line
                    input(type="email" name="email" id="email" placeholder="email")
                .form-line
                    button.btn Отправить заявку
                        svg.btn-gradient
                            use(xlink:href='img/btn-gradient.svg#btn-gradient') 
.globalform.catalogform4.wrap
    .popup-close.cross
        span.cross-line.cross--topper
        span.cross-line.cross--bottom
    .wrap.scroll
        .popup__img
            img(src="img/about.png", alt="about")
        .popup__title Оставьте заявку и Аня проконсультирует вас по выбранному разделу 
        .popup__form
            form(action="#")
                .form-line
                    input(type="text" name="name" id="name" placeholder="имя*" required)
                .form-line
                    input(class="phone" type="tel" name="tel" id="tel" placeholder="телефон*" required)
                .form-line
                    input(type="email" name="email" id="email" placeholder="email")
                .form-line
                    button.btn Отправить заявку
                        svg.btn-gradient
                            use(xlink:href='img/btn-gradient.svg#btn-gradient') 