section.reviews#reviews
    .wrap 
        h2.main-title 
            span Наши работы и отзывы
        .reviews__slider
            .reviews__item--wrap
                .reviews__item
                    .reviews__pic
                        .review-border1
                        .review-border2
                        img(src="img/reviews/review1.jpg", alt="reviews")
                    .reviews__tel
                        img(src="img/reviews/review1tel.jpg", alt="reviews")
            .reviews__item--wrap
                .reviews__item
                    .reviews__pic
                        .review-border1
                        .review-border2
                        img(src="img/reviews/review2.jpg", alt="reviews")
                    .reviews__tel
                        img(src="img/reviews/review2tel.jpg", alt="reviews")
            .reviews__item--wrap
                .reviews__item
                    .reviews__pic
                        .review-border1
                        .review-border2
                        img(src="img/reviews/review3.jpg", alt="reviews")
                    .reviews__tel
                        img(src="img/reviews/review3tel.jpg", alt="reviews")
            .reviews__item--wrap
                .reviews__item
                    .reviews__pic
                        .review-border1
                        .review-border2
                        img(src="img/reviews/review4.jpg", alt="reviews")
                    .reviews__tel
                        img(src="img/reviews/review4tel.jpg", alt="reviews")
            .reviews__item--wrap
                .reviews__item
                    .reviews__pic
                        .review-border1
                        .review-border2
                        img(src="img/reviews/review5.jpg", alt="reviews")
                    .reviews__tel
                        img(src="img/reviews/review5tel.jpg", alt="reviews")
            .reviews__item--wrap
                .reviews__item
                    .reviews__pic
                        .review-border1
                        .review-border2
                        img(src="img/reviews/review6.jpg", alt="reviews")
                    .reviews__tel
                        img(src="img/reviews/review6tel.jpg", alt="reviews")
            .reviews__item--wrap
                .reviews__item
                    .reviews__pic
                        .review-border1
                        .review-border2
                        img(src="img/reviews/review7.jpg", alt="reviews")
                    .reviews__tel
                        img(src="img/reviews/review7tel.jpg", alt="reviews")
            .reviews__item--wrap
                .reviews__item
                    .reviews__pic
                        .review-border1
                        .review-border2
                        img(src="img/reviews/review8.jpg", alt="reviews")
                    .reviews__tel
                        img(src="img/reviews/review8tel.jpg", alt="reviews")
            .reviews__item--wrap
                .reviews__item
                    .reviews__pic
                        .review-border1
                        .review-border2
                        img(src="img/reviews/review9.jpg", alt="reviews")
                    .reviews__tel
                        img(src="img/reviews/review9tel.jpg", alt="reviews")
            .reviews__item--wrap
                .reviews__item
                    .reviews__pic
                        .review-border1
                        .review-border2
                        img(src="img/reviews/review10.jpg", alt="reviews")
                    .reviews__tel
                        img(src="img/reviews/review10tel.jpg", alt="reviews")
            .reviews__item--wrap
                .reviews__item
                    .reviews__pic
                        .review-border1
                        .review-border2
                        img(src="img/reviews/review11.jpg", alt="reviews")
                    .reviews__tel
                        img(src="img/reviews/review11tel.jpg", alt="reviews")
            .reviews__item--wrap
                .reviews__item
                    .reviews__pic
                        .review-border1
                        .review-border2
                        img(src="img/reviews/review12.jpg", alt="reviews")
                    .reviews__tel
                        img(src="img/reviews/review12tel.jpg", alt="reviews")
            .reviews__item--wrap
                .reviews__item
                    .reviews__pic
                        .review-border1
                        .review-border2
                        img(src="img/reviews/review13.jpg", alt="reviews")
                    .reviews__tel
                        img(src="img/reviews/review13tel.jpg", alt="reviews")
            .reviews__item--wrap
                .reviews__item
                    .reviews__pic
                        .review-border1
                        .review-border2
                        img(src="img/reviews/review14.jpg", alt="reviews")
                    .reviews__tel
                        img(src="img/reviews/review14tel.jpg", alt="reviews")
            .reviews__item--wrap
                .reviews__item
                    .reviews__pic
                        .review-border1
                        .review-border2
                        img(src="img/reviews/review15.jpg", alt="reviews")
                    .reviews__tel
                        img(src="img/reviews/review15tel.jpg", alt="reviews")
        .reviews__bottom
            p Хотите навести такую же красоту в своём доме? 
            p Тогда скорее жмите на кнопку.
            .btn.all-form Украсить стол
                svg.btn-gradient
                    use(xlink:href='img/btn-gradient.svg#btn-gradient') 