section.video
    .wrap 
        h2.main-title 
            span О нас
        .video__item
            iframe(width='560', height='315', src='https://www.youtube.com/embed/EygrHOSQ99M', frameborder='0', allow='accelerometer; autoplay; encrypted-media;  gyroscope; picture-in-picture', allowfullscreen='')
