section.video
    .wrap 
        h2.main-title 
            span Видео
        .video__item
            iframe(width='560', height='315', src='https://www.youtube.com/embed/EygrHOSQ99M?autoplay=0&rel=0&&showinfo=0&controls=0&autohide=1', frameborder='0', allow='accelerometer; autoplay; encrypted-media;  gyroscope; picture-in-picture', allowfullscreen='')
