section.works
    .wrap 
        h2.main-title 
            span Наши работы
        .works__slider
            .works__item--wrap
                .works__item
                    .works__pic
                        img(src="img/reviews/review1.jpg", alt="reviews")
            .works__item--wrap
                .works__item
                    .works__pic
                        img(src="img/reviews/review2.jpg", alt="reviews")
            .rworks__item--wrap
                .works__item
                    .works__pic
                        img(src="img/reviews/review3.jpg", alt="reviews")
            .works__item--wrap
                .works__item
                    .works__pic
                        img(src="img/reviews/review4.jpg", alt="reviews")
            .works__item--wrap
                .works__item
                    .works__pic
                        img(src="img/reviews/review5.jpg", alt="reviews")
            .works__item--wrap
                .works__item
                    .workss__pic
                        img(src="img/reviews/review6.jpg", alt="reviews")
            .works__item--wrap
                .works__item
                    .works__pic
                        img(src="img/reviews/review7.jpg", alt="reviews")
            .works__item--wrap
                .works__item
                    .works__pic
                        img(src="img/reviews/review8.jpg", alt="reviews")
            .works__item--wrap
                .works__item
                    .works__pic
                        img(src="img/reviews/review9.jpg", alt="reviews")
            .works__item--wrap
                .works__item
                    .works__pic
                        img(src="img/reviews/review10.jpg", alt="reviews")
            .works__item--wrap
                .works__item
                    .works__pic
                        img(src="img/reviews/review11.jpg", alt="reviews")
            .works__item--wrap
                .works__item
                    .works__pic
                        img(src="img/reviews/review12.jpg", alt="reviews")
            .works__item--wrap
                .works__item
                    .works__pic
                        img(src="img/reviews/review13.jpg", alt="reviews")
            .works__item--wrap
                .works__item
                    .works__pic
                        img(src="img/reviews/review14.jpg", alt="reviews")
            .works__item--wrap
                .works__item
                    .works__pic
                        img(src="img/reviews/review15.jpg", alt="reviews")
        .works__bottom
            p Хотите навести такую же красоту в своём доме? 
            p Тогда скорее жмите на кнопку.
            .btn.all-form Украсить стол
                svg.btn-gradient
                    use(xlink:href='img/btn-gradient.svg#btn-gradient') 